@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/minty/bootstrap.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fullcarender-Mintyテーマが持つ変数名と競合しないようにする */
:root {
  --custom-background: #ffffff;
  --custom-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --custom-background: #0a0a0a;
    --custom-foreground: #ededed;
  }
}

body {
  color: var(--custom-foreground);
  background: var(--custom-background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.fc-daygrid-event {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px; /* アイコンの余白を調整 */
}

.fc-event-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* カレンダー内の各要素設定 */
.fc .fc-button {
  background-color: var(
    --bs-primary
  ) !important; /* Bootswatchテーマの変数使用 */
}
.fc-event {
  background-color: #ffffff !important; /* イベントの背景色を白に */
  color: #000000 !important; /* イベントのテキスト色を黒に */
  border: none !important; /* イベント枠線があれば消す */
  /* background-color: var(--bs-primary) !important; イベントの背景色 */
}
